<div class="navbar navbar-default navbar-fixed-bottom" id="footer">
	<div class="container" id="footerContent">
		 <p class="navbar-text pull-right"><strong>Copyleft &copy; 2014. JP & EJ.  All rights reserved.</strong></p>
	</div>
</div>