 <link rel="icon" href="../../favicon.ico">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/justified-nav.css" rel="stylesheet">
<link href="css/devteaminfo.css" rel="stylesheet">
<link href="css/steps.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
	