 <!-- Placed at the end of the document so the pages load faster -->
   
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="../../assets/js/docs.min.js"></script>
	    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


